*.aux
*.log
*.pdf
*.gz
*.bcf
*.bbl
*.blg
*.xml
*.nav
*.out
*.snm
*.toc
*.ods
*.odt
stats/__pycache__/
stats/2nde13.csv
*/*/*.listing
notes/notes.listing
notes/_minted-notes/*
Fonctions/serie1/_minted-serie1/*
*.synctex*
bib/rdv13-01-25.csv
*.pyg*
*.vrb
Animations/*
*.svg
*.npz
Statistiques/*.dat
